[submodule "lib/sadx-mod-loader"]
	path = lib/sadx-mod-loader
	url = https://github.com/X-Hax/sadx-mod-loader
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "lib/APCpp"]
	path = lib/APCpp
	url = https://github.com/ClassicSpeed/APCpp.git
	branch = feature-set-tags-and-extra-message-types
