[submodule "lib/sadx-mod-loader"]
	path = lib/sadx-mod-loader
	url = https://github.com/X-Hax/sadx-mod-loader
[submodule "lib/ixwebsocket"]
	path = lib/ixwebsocket
	url = https://github.com/machinezone/IXWebSocket.git
